.grid-section {
    position: relative;
    background-color: var(--bg-base);
    padding: 4em 1em;

    .grid-section-bg {
        position: absolute;
        left: 0;
        right: 0;
        top: -20em;
        bottom: 0;
        background-color: var(--bg-base);
        z-index: -1;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 30px;

        li {
            border-radius: 10px;
            background-color: var(--primary-color);
            border: 0;
            cursor: default;

            p {
                color: var(--grey85);
                font-size: 14px;
                line-height: 20px;
            }

            &:nth-child(n+5) {
                padding: .5em 1em;
                gap: .6em;
                display: flex;
                flex-direction: column;

                h4 {
                    color: var(--grey100);
                    font-family: Roboto;
                    font-weight: 700;
                    line-height: 25px;
                }

                span {
                    color: var(--grey50);
                    font-size: 12px;
                    line-height: 15px;
                }
            }

            &:first-child {
                grid-area: 1 / 1 / 3 / 4;

                .top-section {
                    display: flex;
                    justify-content: space-between;
                    padding: 2.2em 0 0 2.2em;

                    .top-section__desc {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;

                        h3 {
                            color: var(--greyblue75);
                            font-size: 12px;
                            line-height: 15px;
                            letter-spacing: 0.5px;
                            text-transform: uppercase;
                        }

                        h2 {
                            color: var(--grey100);
                            font-size: 25px;
                            font-family: Roboto Slab;
                            font-weight: 700;
                            line-height: 30px;
                        }

                        p {}
                    }

                    img {}

                    @media (max-width: 575px) {
                        .top-section__desc {
                            padding: 1em;
                        }

                        img {
                            position: absolute;
                            z-index: -1;
                        }
                    }
                }

                .bottom-section {
                    display: flex;
                    justify-content: space-between;
                    padding: .8em 2.2em;
                    align-items: center;
                    gap: .5em;
                    border-top: 1px solid var(--grey15);

                    >span {
                        color: var(--grey100);
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 700;
                    }

                    .coment-box {
                        display: flex;
                        align-items: center;
                        gap: .5em;

                        span {
                            color: var(--grey50);
                            font-size: 12px;
                            line-height: 15px;
                        }
                    }

                }
            }



            &:nth-child(2) {
                grid-area: 1 / 4 / 3 / 5;
                background: 100% 100% no-repeat url(../../src/assets/img/bg-grid-sect2.jpg);
                background-size: cover;
                padding: .3em 1em;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                button {
                    width: fit-content;
                    border-radius: 3px;
                    background: var(--green75);
                    color: var(--primary-color);
                    border: 0;
                    padding: .3em 1em;
                    margin: 1em 0 3.3em 0;
                }

                h3 {
                    color: var(--purple25);
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                }

                h2 {
                    color: var(--primary-color);
                    font-family: Roboto Slab;
                    font-weight: 700;
                    line-height: 25px;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                }

                .avatar-box {
                    display: flex;
                    align-items: center;
                    gap: .3em;
                    margin-bottom: 1em;

                    img {
                        width: 2em;
                        height: 2em;
                    }

                    .avatar-box__desc {
                        display: flex;
                        flex-direction: column;

                        p {
                            color: var(--primary-color);
                            font-size: 14px;
                            line-height: 20px;
                            opacity: 0.8;
                        }

                        .avatar-box__desc-info {
                            display: flex;
                            color: var(--primary-color);
                            font-size: 12px;
                            line-height: 15px;
                            opacity: 0.4;
                            align-items: center;
                            gap: .9em;

                            p {}

                            .coment-box {
                                display: flex;

                                span {}
                            }

                            .like-box {
                                display: flex;
                                gap: .2em;

                                span {}
                            }
                        }
                    }
                }
            }

            &:nth-child(3) {
                grid-area: 1 / 5 / 5 / 5;
                background-color: var(--greyblue75);

                .row-top {
                    border-bottom: 1px solid var(--primary-color);

                    p {
                        color: var(--primary-color);
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 0.5px;
                        text-transform: uppercase;
                        padding: 1.5em 1.7em;
                    }
                }

                .col {
                    display: flex;
                    flex-direction: column;
                    margin: 0 1em;
                    padding: 2.7em .5em;
                    border-bottom: 1px solid var(--primary-color);

                    >h3 {
                        color: var(--primary-color);
                        font-size: 18px;
                        font-family: Roboto;
                        font-weight: 700;
                        line-height: 25px;
                        margin-bottom: 1em;
                    }

                    .person-info {
                        display: flex;
                        align-items: center;
                        gap: .2em;

                        .desc {
                            p {
                                color: var(--grey85);
                                font-size: 14px;
                                line-height: 20px;
                            }
                        }
                    }
                }

                .bbn {
                    border-bottom: none;
                }

                /* ul{
                    display: flex;
                    flex-direction: column;
                    padding: 0 1em;
                        
                    >li{
                        background-color: transparent;
                        padding: 2.7em 1em;
                        

                        &:not(:last-child){
                            border-bottom: 1px solid var(--primary-color);
                            border-radius: 0%;
                        }
                        &:nth-child(2){
                            display: none;
                        }
                        &:nth-child(3){
                            display: none;
                        }
                        &:nth-child(4){
                            display: none;
                        }
                        >h3{
                            color: var(--primary-color);
                            font-size: 20px;
                            font-family: Roboto;
                            font-weight: 700;
                            /* line-height: 25px; 
                        }
                        .person-info{
                            display: flex;
                        }
                    }
                } */
                .row-bottom {
                    border-top: 1px solid var(--primary-color);
                    padding: 1em;
                    text-align: center;

                    >a {
                        color: var(--primary-color);
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 0.5px;
                        text-transform: uppercase;
                        padding: 1.5em 1.7em;
                    }

                    >a:hover {
                        color: var(--grey15);
                    }
                }
            }

            @media (max-width: 1199px) {
                &:nth-child(3) {
                    .row-bottom {
                        text-align: start;
                    }
                }
            }

            &:nth-child(4) {
                grid-area: 3 / 1 / 5 / 3;
                background: no-repeat center / contain url(../../src/assets/png/cat.png);
                background-size: cover;
                padding-bottom: 1em;
                position: relative;
                text-align: center;

                p {
                    background-color: var(--primary-color);
                    font-size: 18px;
                    font-family: Roboto;
                    font-weight: 800;
                    line-height: 25px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 1em 1.5em 2em;
                }
            }

            @media (max-width: 1199px) {
                &:nth-child(4) {
                    p {
                        padding: 0;
                    }
                }
            }

            &:nth-child(5) {
                grid-area: 3 / 3 / 4 / 4;
            }

            &:nth-child(6) {
                grid-area: 3 / 4 / 4 / 5;
            }

            &:nth-child(7) {
                grid-area: 4 / 4 / 4 / 3;
            }

            &:nth-child(8) {
                grid-area: 4 / 4 / 5 / 5;
            }
        }
    }



    @media (max-width: 991px) {
        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 100%;
            }
        }
    }

    @media (max-width: 767px) {}




}

@media (max-width: 1199px) {
    .grid-section {
        padding: 4em 1.5em;
    }
}

//
/* .parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 3 / 5; }
.div2 { grid-area: 3 / 1 / 6 / 5; }
.div3 { grid-area: 1 / 5 / 6 / 6; }
.div4 { grid-area: 3 / 1 / 6 / 2; }
.div5 { grid-area: 3 / 2 / 4 / 3; }
.div6 { grid-area: 3 / 4 / 4 / 5; }
.div7 { grid-area: 5 / 2 / 6 / 3; }
.div8 { grid-area: 5 / 4 / 6 / 5; } */