@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&family=Roboto+Slab:wght@700&display=swap');

:root {
    --primary-color: #fff;
    --secondary-color: #000;
    --bg-base: #E5E5E5;
    --grey100: #262D33;
    --grey95: #30363D;
    --grey85: #4B5157;
    --grey50: #939699;
    --grey15: #D9DADB;
    --grey05: #F5F5F5;
    --green75: #3DC47E;
    --borderline-color: rgb(128, 128, 128, .4);
    --red75: #FF4F52;
    --bluegreen75: #3BBDC4;
    --blue95: #002b67;
    --blue75: #4592FF;
    --blue25: #C5E4FC;
    --greyblue75: #6E99AE;
    --greyblue50: #B4D1E0;
    --purple75: #AC8EE3;
    --purple25: #E7D9FF;
    --svg-defalt: #BCBFC2;
    --modal-color: rgb(255, 255, 255, 0.4);

    font-family: 'Lato', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
    --tablet: 1400px;
    --container: 1140px;
    --container-adaptive: calc(var(--container) - 1.2em);
}

a {
	list-style: none;
	text-decoration: none;
	color: #000;
	transition: all .5s ease-in;
}

a:hover {
	color: var(--blue75);
}

.dark-mode {
    --primary-color: #000;
    --secondary-color: #fff;

    --modal-color: rgba(0, 0, 0, 0.8);

    --bg-base: #212020;
    --grey05: #c9bdbd;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Lato', sans-serif;
    font-family: 14px;
    font-style: normal;
    font-weight: 400;
}

.container {
    max-width: var(--container);
    margin: 0 auto;
}

.h1 {
    max-width: 85%;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: var(--primary-color);
    margin-bottom: 1.1em;
}

.medium-regular-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.small-regular-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

button {
    cursor: pointer;
    
    color: var(--primary-color);
    display: flex;
    align-items: center;
    border: 0;
}

.panel-btn1 {
    position: absolute;
    background-color: var(--blue75);
    border-radius: 20px;
    padding: .8em 1.5em;
    gap: .5em;

    &:hover{
        opacity: .5;
        transition: all 1s;
    }
    svg {
        path{
            fill: var(--primary-color);
        }
    }
    p {
        padding-left: 1em;
    }
    span {
        color: var(--primary-color);
    }
}

.scroll-up{
    position: fixed;
    top: 5.3em;
    transform: translateX(1.5em) rotate(270deg);
    & path{
        fill: var(--grey50);
    }
}
.scroll-down{
    position: fixed;
    top: 5.3em;
    transform: translateX(1.5em) rotate(90deg);
    & path{
        fill: var(--grey50);
    }
}
@media (max-width: 991px) {
    .scroll-up{
        top: 7.8em
    };
    .scroll-down{
        top: 7.8em
    };
}
@media (max-width: 769px) {
    .scroll-up{
        top: 7.7em
    };
    .scroll-down{
        top: 7.7em
    };
}
.none{
    display: none;
}
.scroll-active{
    display: block;
}


.sun, .moon{
    pointer-events: none;
    opacity: 0;
}
.visible{
    pointer-events: auto;
    opacity: 1;
}

.modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: -100em;
    left: 0;
    right: 0;
    background-color: var(--modal-color);
    z-index: 100;
    overflow-y: hidden;
    backdrop-filter: blur(20px);

    display: flex;
    justify-content: center;
    align-items: center;

    .close{
        display: flex;
        position: absolute;
        z-index: 100;
        transform: translate(750%, -950%);
        border-radius: 50%;
        color: var(--grey100);
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 1em ;
        text-align: center;
        border-radius: 12px;
        border: 1px solid var(--secondary-color);
        background-color: var(--primary-color);
        
        padding: 2em 3em;

        h1{
            color: var(--secondary-color);
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 500;
            margin-bottom: 1em;
        }

        .input-box{
            width: 100%;
            height: 50px;
            display: flex;

            input{
                width: 100%;
                height: 100%;
                border: none;
                outline: 0;
                border-bottom: 2px solid #ccc;
                background-color: transparent;
                color: var(--secondary-color);
                padding: 0 1em;

                &::placeholder{
                    color: var(--secondary-color)
                }
            }
            
        }
        
        a{
            color: var(--secondary-color);
            border-bottom: 1px solid;

            &:hover{
                color: var(--blue75);
            }
        }
        .remember-forgot{
            color: var(--secondary-color);
            display: flex;
            gap: 1em;
        }
        .register-link{
            color: var(--secondary-color);
        }

        .btn{
            width: 100%;
            height: 50px;
            background-color: var(--grey15);
            color: var(--grey100);
            display: flex;
            justify-content: center;
            border-radius: 12px;
            font-weight: 600;
            transition: all 1s ease-in;

            &:hover{
                /* background-color: var(--grey50); */
                opacity: .3;
                transition: all 1s ease-in;
            }
        }
    }
}

.modal-hidden{
    display: none;
    opacity:0;
}