.email-box {
    background-color: var(--primary-color);
    padding: 4em 1em;

    .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .email-box__color {
        color: var(--grey100);
        text-align: center;
        margin-bottom: .62em;
    }

    form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;

        input {
            background-color: var(--primary-color);
            color: var(--secondary-color);
            width: 26%;
            padding: .6em 1em;
            // border-radius: 5px;
            border: none;
            border-bottom: .1px solid var(--grey15);
            outline: none;
        }

        .panel-btn1 {
            position: relative;

            p {
                padding-left: 0;
            }
        }
    }
}