@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&family=Roboto+Slab:wght@700&display=swap");
:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --bg-base: #E5E5E5;
  --grey100: #262D33;
  --grey95: #30363D;
  --grey85: #4B5157;
  --grey50: #939699;
  --grey15: #D9DADB;
  --grey05: #F5F5F5;
  --green75: #3DC47E;
  --borderline-color: rgb(128, 128, 128, .4);
  --red75: #FF4F52;
  --bluegreen75: #3BBDC4;
  --blue75: #4592FF;
  --blue25: #C5E4FC;
  --greyblue75: #6E99AE;
  --greyblue50: #B4D1E0;
  --purple75: #AC8EE3;
  --purple25: #E7D9FF;
  --svg-defalt: #BCBFC2;
  font-family: "Lato", sans-serif;
  /* font-family: 'Roboto Slab', serif; */
  --tablet: 1400px;
  --container: 1140px;
  --container-adaptive: calc(var(--container) - 1.2em);
}

a {
  list-style: none;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

a:hover {
  color: var(--blue75);
}

.dark-mode {
  --primary-color: #000;
  --secondary-color: #fff;
  --bg-base: #212020;
  --grey05: #c9bdbd;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Lato", sans-serif;
  font-family: 14px;
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
}

.h1 {
  max-width: 85%;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: var(--primary-color);
  margin-bottom: 1.1em;
}

.medium-regular-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.small-regular-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

button {
  cursor: pointer;
  color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
}

.panel-btn1 {
  position: absolute;
  background-color: var(--blue75);
  border-radius: 20px;
  padding: 0.8em 1.5em;
  gap: 0.5em;
}
.panel-btn1:hover {
  opacity: 0.5;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.panel-btn1 svg path {
  fill: var(--primary-color);
}
.panel-btn1 p {
  padding-left: 1em;
}
.panel-btn1 span {
  color: var(--primary-color);
}

.scroll-up {
  position: fixed;
  top: 5.3em;
  -webkit-transform: translateX(1.5em) rotate(270deg);
          transform: translateX(1.5em) rotate(270deg);
}
.scroll-up path {
  fill: var(--grey50);
}

.scroll-down {
  position: fixed;
  top: 5.3em;
  -webkit-transform: translateX(1.5em) rotate(90deg);
          transform: translateX(1.5em) rotate(90deg);
}
.scroll-down path {
  fill: var(--grey50);
}

@media (max-width: 991px) {
  .scroll-up {
    top: 7.8em;
  }
  .scroll-down {
    top: 7.8em;
  }
}
@media (max-width: 769px) {
  .scroll-up {
    top: 7.7em;
  }
  .scroll-down {
    top: 7.7em;
  }
}
.none {
  display: none;
}

.scroll-active {
  display: block;
}

.sun, .moon {
  pointer-events: none;
  opacity: 0;
}

.visible {
  pointer-events: auto;
  opacity: 1;
}

.navbar__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--borderline-color);
}
.navbar__top .navbar__top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
}
.navbar__top .navbar__top-left .hamburger-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  border-right: 1px solid var(--borderline-color);
  padding: 1em;
  padding-left: 0;
}
.navbar__top .navbar__top-left .hamburger-menu .hamburger-menu svg {
  cursor: pointer;
}
.navbar__top .navbar__top-left .search-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  cursor: pointer;
}
.navbar__top .navbar__top-left .search-section svg {
  position: absolute;
  cursor: pointer;
}
.navbar__top .navbar__top-left .search-section input {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding-left: 2em;
  border: none;
  outline: none;
}
.navbar__top .navbar__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.5em;
}
.navbar__top .navbar__top-right .subscribe-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.5em;
  gap: 0.5em;
}
.navbar__top .navbar__top-right .subscribe-section .subscribe-section__desc {
  position: relative;
  padding: 0.3em;
}
.navbar__top .navbar__top-right .subscribe-section .subscribe-section__desc p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--grey50);
}
.navbar__top .navbar__top-right .subscribe-section .subscribe-section__desc a {
  font-size: 10px;
  font-weight: 800;
  line-height: 15px;
  color: var(--grey100);
}
.navbar__top .navbar__top-right .authentication {
  position: relative;
  padding: 1em;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__top .navbar__top-right .authentication:hover svg path {
  fill: var(--blue75);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.navbar__top .navbar__top-right .authentication svg {
  position: absolute;
  left: -0.7em;
  cursor: pointer;
}
.navbar__top .navbar__top-right .authentication a {
  cursor: pointer;
  -webkit-transform: translateX(-1.5em);
          transform: translateX(-1.5em);
}
.navbar__top .navbar__top-right .authentication a p {
  color: var(--secondary-color);
  position: relative;
  right: -1.5em;
}
.navbar__top .navbar__top-right .authentication a p:hover {
  color: var(--blue75);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

/* sm-размер (<=768px) */
/* CSS для ширины от 576px до 767px */
@media (max-width: 767px) {
  .navbar__top-right {
    gap: 1em;
  }
  .subscribe-section img {
    display: none;
  }
}
/* xs-размер (<=575px) */
/* CSS для ширины до 575px (включительно) */
@media (max-width: 575px) {
  .hamburger-menu p {
    display: none;
  }
  .search-section input {
    width: 4em;
  }
}
@media (max-width: 370px) {
  .search-section input {
    width: 0;
  }
}
.navbar__middle {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__middle .navbar__middle-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4em;
}
.navbar__middle .navbar__middle-left img {
  padding-left: 1em;
}
.navbar__middle .navbar__middle-left p {
  line-height: 20px;
  color: var(--grey85);
  margin-left: -3em;
}
.navbar__middle h1 {
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  font-size: 60px;
  color: var(--grey100);
}
.navbar__middle .navbar__middle-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4em;
}
.navbar__middle .navbar__middle-right .navbar__middle-data p {
  color: var(--grey85);
  line-height: 20px;
}
.navbar__middle .navbar__middle-right .navbar__middle-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
.navbar__middle .navbar__middle-right .navbar__middle-temp svg {
  cursor: pointer;
  position: fixed;
  z-index: 99;
  -webkit-filter: drop-shadow(0 0 4px var(--grey05));
          filter: drop-shadow(0 0 4px var(--grey05));
}
.navbar__middle .navbar__middle-right .navbar__middle-temp svg path {
  -webkit-filter: drop-shadow(0 0 4px var(--primary-color));
          filter: drop-shadow(0 0 4px var(--primary-color));
}
.navbar__middle .navbar__middle-right .navbar__middle-temp svg:hover path {
  fill: var(--secondary-color);
}
.navbar__middle .navbar__middle-right .navbar__middle-temp .dark-mode-box {
  width: 20px;
  height: 20px;
}
.navbar__middle .navbar__middle-right .navbar__middle-temp p {
  color: var(--grey85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3em;
}
.navbar__middle .navbar__middle-right .navbar__middle-temp p > svg {
  position: relative;
  cursor: default;
  -webkit-filter: drop-shadow(0 0 0 var(--primary-color));
          filter: drop-shadow(0 0 0 var(--primary-color));
}
.navbar__middle .navbar__middle-right .navbar__middle-temp p > svg path {
  -webkit-filter: drop-shadow(0 0 0 var(--primary-color));
          filter: drop-shadow(0 0 0 var(--primary-color));
}
.navbar__middle .navbar__middle-right .navbar__middle-temp p > svg:hover path {
  fill: var(--grey85);
}

@media (max-width: 1199px) {
  .navbar__middle .navbar__middle-right {
    gap: 1em;
  }
  .navbar__middle .navbar__middle-right .navbar__middle-temp {
    gap: 0.1em;
  }
}
@media (max-width: 991px) {
  .navbar__middle {
    font-size: 13px;
  }
  .navbar__middle h1 {
    font-size: 50px;
  }
  .navbar__middle .navbar__middle-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767px) {
  .navbar__middle-left p {
    display: none;
  }
}
@media (max-width: 575px) {
  .navbar__middle .navbar__middle-right {
    position: absolute;
    top: -10em;
  }
  .navbar__middle .navbar__middle-right .navbar__middle-temp > svg {
    position: fixed;
    top: 4em;
    right: 2em;
  }
}
@media (max-width: 575px) {
  .navbar__middle h1 {
    font-size: 40px;
  }
}
.navbar__bottom {
  position: absolute;
  background-color: var(--grey100);
  padding: 1em 0;
  left: 0;
  right: 0;
}
.navbar__bottom ul {
  margin: 0 auto;
  max-width: var(--container-adaptive);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 1em;
  gap: 1em;
  text-align: center;
}
.navbar__bottom ul li a {
  text-transform: uppercase;
  line-height: 20px;
  color: var(--primary-color);
}
.navbar__bottom ul li a:hover {
  opacity: 0.5;
}

/* breakpoints  */
@media (max-width: 991px) {
  .navbar__bottom ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 767px) {
  .navbar__bottom {
    margin-bottom: 1em;
  }
  .navbar__bottom ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 575px) {
  .navbar__bottom ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.navbar {
  padding: 0 1em;
  margin-bottom: 7em;
}

@media (max-width: 767px) {
  .navbar {
    margin-bottom: 12em;
  }
}
@media (max-width: 575px) {
  .navbar {
    margin-bottom: 17em;
  }
}
.hero__list {
  background-color: var(--grey95);
  border-radius: 10px;
  margin-bottom: 1em;
}
.hero__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 1.5em;
}
.hero__list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1em;
  gap: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__list ul li:not(:last-child) {
  border-right: 1px solid var(--grey85);
}
.hero__list ul li p {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  font-family: "Roboto Slab";
}
.hero__list ul li img {
  height: 65px;
}

/* breakpoints  */
@media (max-width: 1199px) {
  .hero__list {
    margin: 0 1.5em 1em;
  }
  .hero__list ul li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media (max-width: 995px) {
  .hero__list {
    margin: 0 1.5em;
  }
  .hero__list ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .hero__list ul li:nth-child(2n) {
    border-right: 1px solid transparent;
  }
  .hero__list ul li:nth-child(-n+2) {
    border-bottom: 1px solid var(--grey85);
    padding-bottom: 1em;
  }
  .hero__list ul li:nth-child(n+3) {
    padding-top: 1em;
  }
}
@media (max-width: 852px) {
  .hero__list {
    margin: 0 1.5em 1em;
  }
  .hero__list ul li:nth-child(2n) {
    border-right: 1px solid transparent;
  }
  .hero__list ul li:nth-child(-n+2) {
    border-bottom: 1px solid var(--grey85);
    padding-bottom: 1em;
  }
  .hero__list ul li:nth-child(n+3) {
    padding-top: 1em;
  }
  .hero__list ul li p {
    font-size: large;
  }
}
@media (max-width: 590px) {
  .hero__list ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero__list ul li:not(:last-child) {
    border: none;
  }
}
.hero__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 2em;
}
.hero__video .video-container {
  background: no-repeat url("../../src/assets/img/bg-hero-video.jpg");
  background-size: 877px 570px;
  padding: 0 0 0 4em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.hero__video .video-container .person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4em 0 0 0;
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--primary-color);
  mix-blend-mode: normal;
  opacity: 0.85;
  margin-bottom: 10.36em;
}
.hero__video .video-container .person-info .desc .person-hobby {
  opacity: 0.4;
}
.hero__video .video-container h2 {
  color: var(--blue75);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  margin-bottom: 1.5em;
}
.hero__video .video-container .video-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  margin-bottom: 6em;
}
.hero__video .video-container .video-panel .panel-btn2 {
  position: relative;
  left: 12.5em;
  background-color: transparent;
  gap: 0.7em;
}
.hero__video .video-container .video-panel .panel-btn2 svg path {
  fill: var(--primary-color);
}
.hero__video .video-container .video-panel .panel-btn2 .btn-desc {
  text-align: left;
}
.hero__video .video-container .video-panel .panel-btn2 .btn-desc p {
  opacity: 0.85;
}
.hero__video .video-container .video-panel .panel-btn2 .btn-desc span {
  opacity: 0.4;
}
.hero__video .video__list {
  background-color: var(--primary-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 24%;
  font-size: 14px;
}
.hero__video .video__list > p {
  font-size: 14px;
  font-weight: 800;
  color: var(--grey100);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 1.5em 2em;
}
.hero__video .video__list ul {
  width: 100%;
  padding-top: 0.8em;
}
.hero__video .video__list ul .video__list-active {
  background-color: var(--grey05);
}
.hero__video .video__list ul li {
  padding: 1.2em 1.8em;
  border-top: 1px solid var(--grey15);
}
.hero__video .video__list ul li a p {
  line-height: 20px;
}
.hero__video .video__list ul li a:hover {
  color: var(--grey100);
  display: inline-block;
}
.hero__video .video__list ul li a .video__list-title {
  text-transform: uppercase;
  color: var(--greyblue75);
  letter-spacing: 0.5px;
  margin-bottom: 0.5em;
  font-size: 12px;
}
.hero__video .video__list ul li a .video__list-text {
  color: var(--grey85);
}

@media (max-width: 1200px) {
  .hero__video {
    margin: 0 1.5em;
  }
  .hero__video .video__list {
    width: 35%;
  }
}
@media (max-width: 995px) {
  .hero__video .video__list {
    width: 50%;
  }
}
@media (max-width: 850px) {
  .hero__video .video__list {
    width: 30%;
  }
  .hero__video .video__list > p {
    font-size: smaller;
    line-height: normal;
  }
  .hero__video .video__list ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .hero__video .video__list ul li a .video__list-text {
    display: none;
  }
}
@media (max-width: 767px) {
  .hero__video .video-container .person-info {
    margin-bottom: 7em;
  }
  .hero__video .video-container h2 {
    color: var(--primary-color);
  }
  .hero__video .video-container h1 {
    font-size: 1.8em;
  }
  .hero__video .video-container .video-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 0.5em;
  }
  .hero__video .video-container .video-panel .panel-btn1 {
    position: relative;
  }
  .hero__video .video-container .video-panel .panel-btn2 {
    left: 0;
  }
}
@media (max-width: 611px) {
  .hero__video {
    display: none;
  }
  .hero__video .video-container {
    padding: 8em;
  }
  .hero__video .video-container .person-info {
    display: none;
  }
  .hero__video .video-container h2 {
    display: none;
  }
  .hero__video .video-container h1 {
    display: none;
  }
  .hero__video .video-container .video-panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .hero__video .video-container .video-panel .panel-btn1 {
    display: none;
  }
  .hero__video .video-container .video-panel .panel-btn2 .btn-desc {
    display: none;
  }
  .hero__video .video__list > p {
    background-color: transparent;
  }
  .hero__video .video__list ul {
    display: none;
  }
}
.hero .hero-bg {
  background-color: var(--grey100);
  position: absolute;
  top: 10em;
  left: 0;
  right: 0;
  bottom: 18em;
  z-index: -1;
}

.header {
  position: relative;
  max-width: var(--tablet);
  margin: 0 auto;
}

.grid-section {
  position: relative;
  background-color: var(--bg-base);
  padding: 4em 1em;
}
.grid-section .grid-section-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: -20em;
  bottom: 0;
  background-color: var(--bg-base);
  z-index: -1;
}
.grid-section ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 30px;
}
.grid-section ul li {
  border-radius: 10px;
  background-color: var(--primary-color);
  border: 0;
  cursor: default;
}
.grid-section ul li p {
  color: var(--grey85);
  font-size: 14px;
  line-height: 20px;
}
.grid-section ul li:nth-child(n+5) {
  padding: 0.5em 1em;
  gap: 0.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.grid-section ul li:nth-child(n+5) h4 {
  color: var(--grey100);
  font-family: Roboto;
  font-weight: 700;
  line-height: 25px;
}
.grid-section ul li:nth-child(n+5) span {
  color: var(--grey50);
  font-size: 12px;
  line-height: 15px;
}
.grid-section ul li:first-child {
  grid-area: 1/1/3/4;
}
.grid-section ul li:first-child .top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.2em 0 0 2.2em;
}
.grid-section ul li:first-child .top-section .top-section__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}
.grid-section ul li:first-child .top-section .top-section__desc h3 {
  color: var(--greyblue75);
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.grid-section ul li:first-child .top-section .top-section__desc h2 {
  color: var(--grey100);
  font-size: 25px;
  font-family: Roboto Slab;
  font-weight: 700;
  line-height: 30px;
}
@media (max-width: 575px) {
  .grid-section ul li:first-child .top-section .top-section__desc {
    padding: 1em;
  }
  .grid-section ul li:first-child .top-section img {
    position: absolute;
    z-index: -1;
  }
}
.grid-section ul li:first-child .bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8em 2.2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  border-top: 1px solid var(--grey15);
}
.grid-section ul li:first-child .bottom-section > span {
  color: var(--grey100);
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
.grid-section ul li:first-child .bottom-section .coment-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}
.grid-section ul li:first-child .bottom-section .coment-box span {
  color: var(--grey50);
  font-size: 12px;
  line-height: 15px;
}
.grid-section ul li:nth-child(2) {
  grid-area: 1/4/3/5;
  background: 100% 100% no-repeat url(../../src/assets/img/bg-grid-sect2.jpg);
  background-size: cover;
  padding: 0.3em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.grid-section ul li:nth-child(2) button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3px;
  background: var(--green75);
  color: var(--primary-color);
  border: 0;
  padding: 0.3em 1em;
  margin: 1em 0 3.3em 0;
}
.grid-section ul li:nth-child(2) h3 {
  color: var(--purple25);
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.grid-section ul li:nth-child(2) h2 {
  color: var(--primary-color);
  font-family: Roboto Slab;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.grid-section ul li:nth-child(2) .avatar-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3em;
  margin-bottom: 1em;
}
.grid-section ul li:nth-child(2) .avatar-box img {
  width: 2em;
  height: 2em;
}
.grid-section ul li:nth-child(2) .avatar-box .avatar-box__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.grid-section ul li:nth-child(2) .avatar-box .avatar-box__desc p {
  color: var(--primary-color);
  font-size: 14px;
  line-height: 20px;
  opacity: 0.8;
}
.grid-section ul li:nth-child(2) .avatar-box .avatar-box__desc .avatar-box__desc-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--primary-color);
  font-size: 12px;
  line-height: 15px;
  opacity: 0.4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9em;
}
.grid-section ul li:nth-child(2) .avatar-box .avatar-box__desc .avatar-box__desc-info .coment-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.grid-section ul li:nth-child(2) .avatar-box .avatar-box__desc .avatar-box__desc-info .like-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.2em;
}
.grid-section ul li:nth-child(3) {
  grid-area: 1/5/5/5;
  background-color: var(--greyblue75);
  /* ul{
      display: flex;
      flex-direction: column;
      padding: 0 1em;

      >li{
          background-color: transparent;
          padding: 2.7em 1em;


          &:not(:last-child){
              border-bottom: 1px solid var(--primary-color);
              border-radius: 0%;
          }
          &:nth-child(2){
              display: none;
          }
          &:nth-child(3){
              display: none;
          }
          &:nth-child(4){
              display: none;
          }
          >h3{
              color: var(--primary-color);
              font-size: 20px;
              font-family: Roboto;
              font-weight: 700;
              /* line-height: 25px; 
          }
          .person-info{
              display: flex;
          }
      }
  } */
}
.grid-section ul li:nth-child(3) .row-top {
  border-bottom: 1px solid var(--primary-color);
}
.grid-section ul li:nth-child(3) .row-top p {
  color: var(--primary-color);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 1.5em 1.7em;
}
.grid-section ul li:nth-child(3) .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1em;
  padding: 2.7em 0.5em;
  border-bottom: 1px solid var(--primary-color);
}
.grid-section ul li:nth-child(3) .col > h3 {
  color: var(--primary-color);
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 1em;
}
.grid-section ul li:nth-child(3) .col .person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2em;
}
.grid-section ul li:nth-child(3) .col .person-info .desc p {
  color: var(--grey85);
  font-size: 14px;
  line-height: 20px;
}
.grid-section ul li:nth-child(3) .bbn {
  border-bottom: none;
}
.grid-section ul li:nth-child(3) .row-bottom {
  border-top: 1px solid var(--primary-color);
  padding: 1em;
  text-align: center;
}
.grid-section ul li:nth-child(3) .row-bottom > a {
  color: var(--primary-color);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 1.5em 1.7em;
}
.grid-section ul li:nth-child(3) .row-bottom > a:hover {
  color: var(--grey15);
}
@media (max-width: 1199px) {
  .grid-section ul li:nth-child(3) .row-bottom {
    text-align: start;
  }
}
.grid-section ul li:nth-child(4) {
  grid-area: 3/1/5/3;
  background: no-repeat center/contain url(../../src/assets/png/cat.png);
  background-size: cover;
  padding-bottom: 1em;
  position: relative;
  text-align: center;
}
.grid-section ul li:nth-child(4) p {
  background-color: var(--primary-color);
  font-size: 18px;
  font-family: Roboto;
  font-weight: 800;
  line-height: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em 1.5em 2em;
}
@media (max-width: 1199px) {
  .grid-section ul li:nth-child(4) p {
    padding: 0;
  }
}
.grid-section ul li:nth-child(5) {
  grid-area: 3/3/4/4;
}
.grid-section ul li:nth-child(6) {
  grid-area: 3/4/4/5;
}
.grid-section ul li:nth-child(7) {
  grid-area: 4/4/4/3;
}
.grid-section ul li:nth-child(8) {
  grid-area: 4/4/5/5;
}
@media (max-width: 991px) {
  .grid-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .grid-section ul li {
    width: 100%;
  }
}
@media (max-width: 1199px) {
  .grid-section {
    padding: 4em 1.5em;
  }
}
/* .parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 3 / 5; }
.div2 { grid-area: 3 / 1 / 6 / 5; }
.div3 { grid-area: 1 / 5 / 6 / 6; }
.div4 { grid-area: 3 / 1 / 6 / 2; }
.div5 { grid-area: 3 / 2 / 4 / 3; }
.div6 { grid-area: 3 / 4 / 4 / 5; }
.div7 { grid-area: 5 / 2 / 6 / 3; }
.div8 { grid-area: 5 / 4 / 6 / 5; } */
.list-box {
  background-color: var(--bg-base);
  padding: 4em 1em;
}
.list-box .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2em;
}
.list-box .flex .list-bg {
  background-color: var(--primary-color);
  /* padding: 1.5em; */
  border-radius: 1em;
}
.list-box .flex .list-box__left ul {
  cursor: default;
}
.list-box .flex .list-box__left ul li {
  padding: 1.5em 0;
  margin: 0 1.5em;
}
.list-box .flex .list-box__left ul li:not(:last-child) {
  border-bottom: 1px solid var(--grey15);
}
.list-box .flex .list-box__left ul li img {
  border-radius: 1em;
}
.list-box .flex .list-box__left ul li .wrap-box .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}
.list-box .flex .list-box__left ul li .wrap-box .title .blue75 {
  color: var(--blue75);
}
.list-box .flex .list-box__left ul li .wrap-box .title .bluegreen75 {
  color: var(--bluegreen75);
}
.list-box .flex .list-box__left ul li .wrap-box .title .red75 {
  color: var(--red75);
}
.list-box .flex .list-box__left ul li .wrap-box .title .purple75 {
  color: var(--purple75);
}
.list-box .flex .list-box__left ul li .wrap-box .title span {
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.list-box .flex .list-box__left ul li .wrap-box .title svg {
  cursor: pointer;
}
.list-box .flex .list-box__left ul li .wrap-box .title svg .svg-default {
  fill: var(--svg-defalt);
}
.list-box .flex .list-box__left ul li .wrap-box .title svg .active {
  fill: var(--red75);
}
.list-box .flex .list-box__left ul li .wrap-box h4 {
  color: var(--grey100);
  font-size: 20px;
  font-family: Roboto Slab;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 1em;
}
.list-box .flex .list-box__left ul li .wrap-box .wrap-box__desc {
  color: var(--grey85);
  /* font-size: 14px; */
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 1em;
}
.list-box .flex .list-box__left ul li .wrap-box .wrap-box__counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list-box .flex .list-box__left ul li .wrap-box .wrap-box__counters .coment-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}
.list-box .flex .list-box__left ul li .wrap-box .wrap-box__counters .like-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}
@media (max-width: 1199px) {
  .list-box .flex .list-box__left ul li .wrap-box {
    width: 100%;
  }
}
.list-box .flex .list-box__right {
  height: 100%;
}
.list-box .flex .list-box__right .right-top {
  border-bottom: 1px solid var(--grey15);
}
.list-box .flex .list-box__right .right-top p {
  color: var(--grey100);
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 1.2em 1.5em;
}
.list-box .flex .list-box__right .right-middle ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0;
  margin: 0 1.5em;
  gap: 0.7em;
}
.list-box .flex .list-box__right .right-middle ul li .info {
  min-width: 9.5em;
  position: relative;
}
.list-box .flex .list-box__right .right-middle ul li .info p {
  color: var(--grey85);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.list-box .flex .list-box__right .right-middle ul li .info span {
  color: var(--grey85);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}
@media (max-width: 991px) {
  .list-box .flex .list-box__right .right-middle ul li .info {
    min-width: 9.5em;
  }
}
.list-box .flex .list-box__right .right-middle ul li svg {
  position: absolute;
  right: 1em;
  top: 0;
}
.list-box .flex .list-box__right .right-bottom {
  text-align: center;
  padding: 1em;
  border-top: 1px solid var(--grey15);
}
.list-box .flex .list-box__right .right-bottom a {
  color: var(--grey100);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
@media (max-width: 1199px) {
  .list-box .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .list-box .flex .list-bg {
    width: auto;
  }
  .list-box .flex .list-bg .info svg {
    z-index: -1;
  }
  .list-box .flex .list-bg .right-middle ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .list-box .flex .list-bg .right-bottom {
    text-align: start;
  }
}
@media (max-width: 860px) {
  .list-box .flex .list-bg .right-middle ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 680px) {
  .list-box .flex .list-bg .right-middle ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feedback-box {
  background-color: var(--grey100);
  padding: 4em 1em;
}
.feedback-box .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2em;
}
.feedback-box .feedback-box__left-row {
  width: -webkit-fill-available;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 0.7em;
  position: relative;
}
.feedback-box .feedback-box__left-row .offset-cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 630.8px;
}
.feedback-box .feedback-box__left-row .offset-cards .card {
  min-width: 523px;
  background: no-repeat center url(../../src/assets/png/bg-fb-left.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.feedback-box .feedback-box__left-row .offset-cards .card .card-padding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.feedback-box .feedback-box__left-row .offset-cards .card button {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.feedback-box .feedback-box__left-row .offset-cards .card .btn-left-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}
.feedback-box .feedback-box__left-row .offset-cards .card .btn-left-row .button {
  color: var(--primary-color);
  background-color: var(--red75);
  padding: 0.5em 1em;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  border-radius: 3px;
  margin-bottom: 5em;
}
.feedback-box .feedback-box__left-row .offset-cards .card .person-info {
  margin-bottom: 2em;
}
.feedback-box .feedback-box__left-row .offset-cards .card .person-info .desc {
  color: var(--primary-color);
}
.feedback-box .feedback-box__left-row .offset-cards .card .person-info .desc > p {
  opacity: 0.8;
}
.feedback-box .feedback-box__left-row .offset-cards .card .person-info .desc span {
  opacity: 0.4;
}
.feedback-box .feedback-box__left-row .offset-cards .card .panel-btn1 {
  margin-bottom: 7.9em;
}
.feedback-box .feedback-box__left-row .offset-cards .card .slider {
  margin-bottom: 2.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.1em;
}
.feedback-box .feedback-box__left-row .offset-cards .card .slider .active {
  stroke: rgb(121, 113, 115);
  stroke-width: 2;
  fill-rule: evenodd;
  clip-rule: evenodd;
  d: path("M 10 19 C 5.02944 19 1 14.9706 1 10 C 1 5.02944 5.02944 1 10 1 C 14.9706 1 19 5.02944 19 10 C 19 14.9706 14.9706 19 10 19 Z");
  d: path("M10 14C7.79088 14 6.00002 12.2091 6.00002 10C6.00002 7.79086 7.79088 6 10 6C12.2092 6 14 7.79086 14 10C14 12.2091 12.2092 14 10 14ZM2.92896 17.0711L4.34317 15.6569C5.79088 17.1046 7.79088 18 10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2V0C15.5229 0 20 4.47715 20 10C20 15.5228 15.5229 20 10 20C7.2386 20 4.7386 18.8807 2.92896 17.0711Z");
  fill: white;
}
.feedback-box .feedback-box__left-row .offset-cards .card .slider svg {
  cursor: pointer;
}
.feedback-box .feedback-box__right-row .row-top {
  background: var(--greyblue50);
  border-radius: 0.7em;
  padding: 1.9em 1.9em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
}
.feedback-box .feedback-box__right-row .row-top .row-top__left-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.feedback-box .feedback-box__right-row .row-top .row-top__left-row button {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.feedback-box .feedback-box__right-row .row-top .row-top__left-row span {
  color: var(--greyblue75);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 1.7em;
}
.feedback-box .feedback-box__right-row .row-top .row-top__left-row h2 {
  width: 120%;
  color: var(--grey100);
  font-size: 25px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 0.6em;
}
.feedback-box .feedback-box__right-row .row-top .row-top__left-row > p {
  color: var(--grey85);
  margin-bottom: 2em;
}
.feedback-box .feedback-box__right-row .row-bottom {
  background-color: var(--grey100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  border-radius: 0.7em;
}
.feedback-box .feedback-box__right-row .row-bottom .row-bottom__rows {
  background-color: var(--primary-color);
  border-radius: 0.7em;
  padding: 3em 1.5em;
}
.feedback-box .feedback-box__right-row .row-bottom .row-bottom__rows h3 {
  color: var(--grey100);
  font-size: 16px;
  font-family: Roboto Slab;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 0.3em;
}
.feedback-box .feedback-box__right-row .row-bottom .row-bottom__rows p {
  color: var(--grey85);
  margin-bottom: 0.7em;
}
.feedback-box .feedback-box__right-row .row-bottom .row-bottom__rows span {
  color: var(--grey50);
}
@media (max-width: 1130px) {
  .feedback-box .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feedback-box .flex .feedback-box__right-row .row-top .row-top__left-row h2 {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .feedback-box .flex .feedback-box__right-row .row-top {
    padding: 1.9em;
  }
  .feedback-box .flex .feedback-box__right-row .row-top .row-top__left-row {
    padding: 1em;
  }
  .feedback-box .flex .feedback-box__right-row .row-top .row-top__left-row h2 {
    width: 100%;
  }
  .feedback-box .flex .feedback-box__right-row .row-top .row-top__right-row img {
    display: none;
  }
}
.email-box {
  background-color: var(--primary-color);
  padding: 4em 1em;
}
.email-box .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.email-box .email-box__color {
  color: var(--grey100);
  text-align: center;
  margin-bottom: 0.62em;
}
.email-box form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
.email-box form input {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 26%;
  padding: 0.6em 1em;
  border: none;
  border-bottom: 0.1px solid var(--grey15);
  outline: none;
}
.email-box form .panel-btn1 {
  position: relative;
}
.email-box form .panel-btn1 p {
  padding-left: 0;
}

.footer {
  padding: 0 1em;
}
.footer .footer__grid {
  padding-bottom: 4em;
  border-bottom: 1px solid var(--grey15);
}
.footer .footer__grid ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer__grid ul li {
  cursor: pointer;
  line-height: 20px;
  width: 100%;
}
.footer .footer__grid ul li a p {
  color: var(--grey100);
  font-weight: 600;
  padding-top: 2em;
  margin-bottom: 1.5em;
  border-top: 1px solid red;
}
.footer .footer__grid ul li a p:hover {
  color: var(--blue75);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.footer .footer__grid ul li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer__grid ul li ul li a p {
  font-size: 14px;
  font-weight: 400;
  padding-top: 0;
  margin-bottom: 1em;
  border-top: none;
}
.footer .footer__middle-row {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--grey15);
}
.footer .footer__middle-row ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2em;
  gap: 2em;
}
.footer .footer__middle-row ul li {
  color: var(--grey100);
  font-weight: 600;
  font-size: 14px;
  font-family: Lato;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.footer .footer__middle-row ul li a p {
  color: var(--grey100);
}
.footer .footer__middle-row ul li a p:hover {
  color: var(--blue75);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.footer .footer__middle-row .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
}
.footer .footer__middle-row .social a svg:hover {
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.2;
}
@media (max-width: 991px) {
  .footer .footer__middle-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .footer .footer__grid ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__middle-row ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    margin-bottom: 3em;
  }
}
.footer .footer__bottom-row {
  padding: 4em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--grey50);
}
.footer .footer__bottom-row .desc-left .medium-regular-text {
  width: 79%;
}
.footer .footer__bottom-row .desc-right .medium-regular-text {
  min-width: 11em;
}
@media (max-width: 1199px) {
  .footer .footer__bottom-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .footer__bottom-row .desc-left {
    margin-bottom: 2em;
  }
  .footer .footer__bottom-row .desc-left .medium-regular-text {
    width: 100%;
  }
}

.middle-box {
  background: no-repeat url(../../src/assets/img/bg-middle.jpg);
  background-size: cover;
  padding: 3.5em 5em;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.middle-box .h1 {
  padding: 0 7em;
  margin-bottom: 0.5em;
}
.middle-box > button {
  position: relative;
}

@media (max-width: 991px) {
  .middle-box .h1 {
    padding: 0;
  }
}